.CollapsibleContentBoard {
    padding-top: 15px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "headerArea"
        "childrenArea";
    border: 1px solid var(--borderColor_aroundWhiteOrLightestGrey);
    border-radius: 5px;
    background-color: white;
    height: 60px;
}

.headerContainer {
    grid-area: headerArea;
    display: grid;
    grid-template-columns: auto auto auto 1fr auto;
    grid-template-areas: "buttonArea    titleArea   caretArea   .   measureValueArea";
}

.collapseButtonContainer {
    grid-area: buttonArea;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    grid-area: titleArea;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

.caret {
    grid-area: caretArea;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

.measureValueContainer {
    grid-area: measureValueArea;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "measureValueArea  measureValueChangeArea  measurePercentChangeArea";
    margin-right: 20px;
    align-self: center;
    font-size: large;
    font-weight: bold;
}

.measureValueContainer .measureValue {
    grid-area: measureValueArea;
    align-self: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.measureValueContainer .measureValueChange {
    grid-area: measureValueChangeArea;
    align-self: inherit;
    font-size: medium;
    font-weight: inherit;
    margin-left: 20px;
    color: var(--textColor_negative);
}

.measuredChangedUpwards .measureValueChange {
    color: var(--textColor_positive);
}

.measureValueContainer .measurePercentChange {
    grid-area: measurePercentChangeArea;
    align-self: inherit;
    font-size: medium;
    font-weight: inherit;
    margin-left: 20px;
    color: var(--textColor_negative);
}

.measuredChangedUpwards .measurePercentChange {
    color: var(--textColor_positive);
}

.childrenContainer {
    grid-area: childrenArea;
    margin: 20px 20px 0 20px;
}

/* expanded BOOL PROP */

.expanded {
    height: auto;
    padding-bottom: 20px;
}

/* headerIsSticky BOOL PROP */

.headerIsSticky .headerContainer {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* headerIsHighlighted BOOL PROP */

.headerContainerVisible .headerContainer {
    box-shadow: 0 2px 4px var(--shadowColor_default);
    background-color: #fffe;
    /* border: 1px solid var(--borderColor_aroundWhiteOrLightestGrey); */
    /* border-top: none; */
    animation: flash 200ms;
}

@keyframes flash {
    from {
        box-shadow: 0 0 0 white;
        /* border: 1px solid white; */
        /* border-top: none; */
        background-color: transparent;
    }

    to {
        box-shadow: 0 2px 4px var(--shadowColor_default);
        /* border: 1px solid var(--borderColor_aroundWhiteOrLightestGrey); */
        /* border-top: none; */
        background-color: #fffe;
    }
}
