.CollapseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: var(--backgroundColor_button_secondary);
    border-radius: 2px;
    font-size: large;
    line-height: 1;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
