.Alert {
    margin: 16px 0;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: medium;
    line-height: 24px;
    text-align: left;
    overflow: hidden;
    transition: all 100ms ease-in-out, padding-left 1ms;
}

/* visible BOOL PROP */

.Alert:not(.visible) {
    height: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border-width: 0;
    font-size: 0;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 20px;
    background-color: transparent;
    border: initial;
    line-height: 1;
    font-size: x-large;
    font-weight: bold;
    color: inherit;
    opacity: 0.5;
    cursor: pointer;
}

/* typeOption PROP */

.primary {
    color: var(--textColor_alert_primary);
    background-color: var(--backgroundColor_alert_primary);
}

.secondary {
    color: var(--textColor_alert_secondary);
    background-color: var(--backgroundColor_alert_secondary);
}

.success {
    color: var(--textColor_alert_success);
    background-color: var(--backgroundColor_alert_success);
}

.danger {
    color: var(--textColor_alert_danger);
    background-color: var(--backgroundColor_alert_danger);
}

.warning {
    color: var(--textColor_alert_warning);
    background-color: var(--backgroundColor_alert_warning);
}

.info {
    color: var(--textColor_alert_info);
    background-color: var(--backgroundColor_alert_info);
}

.light {
    color: var(--textColor_alert_light);
    background-color: var(--backgroundColor_alert_light);
}

.dark {
    color: var(--textColor_alert_dark);
    background-color: var(--backgroundColor_alert_dark);
}
