.CollapsibleContentBoard {
    padding-top: 15px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-areas:
        "buttonArea       titleArea         spacer            rightNodeArea"
        "childrenArea     childrenArea      childrenArea      childrenArea";
    border: 1px solid var(--borderColor_aroundWhiteOrLightestGrey);
    border-radius: 5px;
    background-color: white;
    height: 50px;
}

.collapseButtonContainer {
    grid-area: buttonArea;
    align-self: top;
    margin-left: 20px;
    margin-right: 10px;
}

.title {
    grid-area: titleArea;
    align-self: top;
    font-size: x-large;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 5px;
}

.rightNodeContainer {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 410px;
    grid-area: rightNodeArea;
    align-self: center;
    border: 1px solid white;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #fffe;
    font-size: small;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.childrenContainer {
    grid-area: childrenArea;
    margin: 0 20px 0 20px;
}

/* expanded BOOL PROP */

.expanded {
    height: auto;
    padding-bottom: 20px;
}
