.CollapsibleContentBoard {
    padding-top: 4px;
    margin-bottom: 20px;
    border: 1px solid var(--borderColor_aroundWhiteOrLightestGrey);
    border-radius: 5px;
    background-color: white;
    height: 60px;
}

.headerContainer {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-areas: "buttonArea    titleArea   .   rightNodeContainerArea";
    height: 50px;
    overflow: visible;
}

.headerContainer > .collapseButtonContainer {
    grid-area: buttonArea;
    align-self: center;
    margin-left: 20px;
    margin-right: 10px;
}

.headerContainer > .title {
    grid-area: titleArea;
    margin-bottom: 5px;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

.headerContainer > .rightNodeContainer {
    grid-area: rightNodeContainerArea;
    margin-right: 20px;
    align-self: center;
}

.childrenContainer {
    margin: 0 20px 0 20px;
}

/* expanded BOOL PROP */

.expanded {
    height: auto;
    padding-bottom: 20px;
}

/* headerIsSticky BOOL PROP */

.headerIsSticky > .headerContainer {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* headerIsHighlighted BOOL PROP */

.headerHighlighted > .headerContainer {
    box-shadow: 0 2px 4px var(--shadowColor_default);
    background-color: #fffe;
    transition: box-shadow 200ms;
}
