
.headerContainer {
    display: flex;
    justify-content: center;
    background-color: var(--color_tuatara);
}

.main {
    display: flex;
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 50px;
}
