.CollapsibleContentModule {
    margin-bottom: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "buttonArea       titleArea"
        "childrenArea     childrenArea";
    border: 1px solid var(--borderColor_aroundWhiteOrLightestGrey);
    border-radius: 3px;
    background-color: var(--backgroundColor_backgrounds_fbfbfc);
    overflow: hidden;
    height: 50px;
}

.collapseButtonContainer {
    grid-area: buttonArea;
    margin-right: 10px;
}

.title {
    grid-area: titleArea;
    margin-bottom: 5px;
    font-size: large;
    font-weight: bold;
}

.childrenContainer {
    grid-area: childrenArea;
}

/* exoabded BOOL PROP */

.expanded {
    height: auto;
}
